<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/scripts/site.js" type="application/javascript"></script>
</head>

<body>
    <div class="container">
        <h2>Products</h2>
        <table id="products_table" class="table">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Price</th>
                <th scope="col">Weight</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h2>Retail Locations</h2>
        <table id="retail_table" class="table">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

</html>
